{% extends "base.html" %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/habitacion.css' %}">
{% endblock estilos %}


{% block titulo %}
Habitaciones
{% endblock titulo %}


{% block contenido %}
<main class="container-fluid">
    <h1>Nuestras habitaciones</h1>
    <section class="row">
        {% for item in habitaciones %}
        <div class="col-md-4 room-card">
            <div class="card h-100">
                <img src="{{item.imagen}}" class="card-img-top" width="450" alt="{{item.imagen}}" />
                <div class="card-body">
                    <h5 class="card-title">{{item.tipo_habitacion}}</h5>
                    <p class="card-text">Precio: {{item.precio}} CLP por noche</p>
                    <div class="info-reserva">
                        <a href="{% url 'agregar' item.id_habitacion %}" id="reservar"
                            data-cupos="{{item.unidades_disponibles}}">Reservar</a>

                        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="detalles"
                            data-tipo="{{item.tipo_habitacion}}" data-banios="{{item.cantidad_banios}}"
                            data-capacidad="{{item.capacidad_persona}}" data-cupos="{{item.unidades_disponibles}}"
                            data-hotel="{{item.hotel}}">Detalles</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock contenido %}

{% block scripts %}

<script src="{% static 'js/habitaciones.js' %}"></script>
{% endblock scripts %}