<!--Todas las paginas extenderan de base.html-->
{% extends "base.html" %}
{% load static %}

{% block titulo %}
index
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block contenido_header %}
<div>
    <h1>Veranum</h1>
    <div id="carouselExample" class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'imgs/carrusel/carrusel.png'%}" alt="pan" >
            </div>
            <div class="carousel-item">
                <img src="{% static 'imgs/carrusel/carrusel2.png'%}" alt="cerveza">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imgs/carrusel/carrusel3.png'%}" alt="promo">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock%}

{% block contenido %}
<main class="container-fluid">

    <section class="row">
        <figure class="col-md">
            <img src="{% static 'imgs/index/hotel-1.webp' %}" class="img-fluid" alt="imagenes">
        </figure>
        <article class="col-md">
            <h1>Experiencia de lujo en el corazón de la ciudad</h1>
            <h4>Disfruta de una estadía excepcional en nuestras lujosas habitaciones, con acceso a una piscina, spa y
                restaurante gourmet.</h4>
            <a href="{% url 'habitaciones' %}" class="reservar">Reservar!</a>
        </article>
    </section>

    <section class="row">

        <article class="col-12">
            <h1>Características destacadas</h1>
            <h5>Nuestro hotel ofrece una experiencia única con una piscina climatizada, un lujoso spa y un restaurante
                gourmet.</h5>
        </article>

        <article class="col-sm-4">
            <h1 class="material-symbols-outlined">pool</h1>
            <h6>Disfruta de un relajante momento en nuestra piscina climatizada.</h6>
        </article>

        <article class="col-sm-4">
            <h1 class="material-symbols-outlined">spa</h1>
            <h6>Relájate y rejuvenece en nuestro exclusivo spa.</h6>
        </article>

        <article class="col-sm-4">
            <h1 class="material-symbols-outlined">restaurant_menu</h1>
            <h6>Disfruta de una exquisita experiencia gastronómica en nuestro restaurante.</h6>
        </article>

    </section>

    <section class="row">

        <form class="col-sm-9" id="contact">
            {% csrf_token %}
            <h1>Contacta con nosotros</h1>
            <h5>Llena el siguiente formulario y uno de nuestros representantes se pondrá en contacto contigo.</h5>
            <fieldset>
                <label for="nob">Nombre</label>
                <input type="text" placeholder="Ingresa tu nombre" id="nob">
            </fieldset>
            <fieldset>
                <label for="mail">Correo Electronico</label>
                <input type="email" placeholder="Ingresa tu nombre" id="mail">
            </fieldset>
            <fieldset>
                <label for="desc">Descripcion</label>
                <textarea id="desc" placeholder="Mensaje"></textarea>
            </fieldset>
            <button type="submit">Enviar</button>

        </form>

    </section>


</main>
{% endblock contenido %}