{% extends "base.html" %}
{% load static %}

{% block titulo %}
Politica de privacidad
{% endblock %}

{% block estilos%}
    <link rel="stylesheet" href="{% static 'css/leyes.css' %}">
{% endblock %}

{%block contenido%}

    <div class="container">
        <h1>Privacidad del Hotel</h1>

        <h2>Política de cancelación:</h2>
        <p>Detalla las condiciones bajo las cuales se puede cancelar una reserva y si conlleva algún cargo.</p>

        <h2>Política de pago:</h2>
        <p>Especifica los métodos de pago aceptados, cuándo se realizarán los cargos y si se requiere un depósito o pago por adelantado.</p>

        <h2>Política de check-in/check-out:</h2>
        <p>Establece los horarios de entrada y salida del hotel, así como las políticas relacionadas con el almacenamiento de equipaje antes del check-in o después del check-out.</p>

        <h2>Política de mascotas:</h2>
        <p>Si se permiten mascotas en el hotel y bajo qué condiciones (por ejemplo, tamaño, especies permitidas, tarifas adicionales).</p>

        <h2>Política de fumadores:</h2>
        <p>Indica si está permitido fumar en las habitaciones o áreas comunes del hotel.</p>

        <h2>Responsabilidad por daños:</h2>
        <p>Establece la responsabilidad del huésped por cualquier daño causado a la propiedad del hotel durante su estancia.</p>

        <h2>Uso de las instalaciones:</h2>
        <p>Regula el uso de las instalaciones del hotel, como piscinas, gimnasios, spas, etc.</p>

        <h2>Política de privacidad:</h2>
        <p>Informa cómo se manejarán los datos personales del huésped de acuerdo con las leyes de protección de datos.</p>

        <h2>Disposiciones generales:</h2>
        <p>Incluye cláusulas sobre la jurisdicción aplicable en caso de disputas legales, modificaciones a los términos y condiciones, y otras disposiciones específicas del hotel.</p>

        <h2>Confidencialidad de la Información Personal:</h2>
        <p>Los hoteles deben proteger la información personal de los huéspedes, como nombres, números de tarjetas de crédito, direcciones y detalles de reserva, de acuerdo con las leyes de protección de datos aplicables.</p>

        <h2>Seguridad en las Habitaciones:</h2>
        <p>Los huéspedes deben sentirse seguros y protegidos dentro de sus habitaciones. Esto incluye tener cerraduras seguras y garantizar que solo el personal autorizado pueda acceder a las habitaciones para servicios de limpieza o mantenimiento, respetando la privacidad de los huéspedes.</p>

        <h2>Discreción del Personal:</h2>
        <p>El personal del hotel debe manejar la información de los huéspedes de manera confidencial y asegurarse de no divulgar información personal a terceros sin el consentimiento del huésped, excepto cuando sea requerido por la ley.</p>

        <h2>Áreas Comunes:</h2>
        <p>Aunque son espacios compartidos, los hoteles deben mantener la privacidad de los huéspedes en áreas como restaurantes, gimnasios, piscinas y recepción, garantizando que no se divulgue información personal o se comprometa la seguridad.</p>

        <h2>Política de Privacidad:</h2>
        <p>Los hoteles deben tener políticas claras sobre cómo manejan la información personal de los huéspedes, incluyendo cómo se recopila, utiliza y protege dicha información.</p>

        <h2>Cámaras de Seguridad:</h2>
        <p>Si el hotel tiene cámaras de seguridad, deben estar ubicadas de manera que protejan la seguridad de los huéspedes sin comprometer su privacidad en áreas como pasillos, entradas y estacionamientos.</p>

    </div>

{%endblock%}