{% extends "base.html" %}
{% load static %}

{% block titulo %}
Registro
{% endblock %}

{% block estilos%}
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block contenido %}
<main class="container-fluid">
    <section class="row">
        <form method="post" class="col-md-6">
            <h2>Registro de usuarios</h2>
            <h6>Completa todos los campos para crearte una cuenta</h6>
            {% csrf_token %}
            {{form}}
            <button type="submit">Registrarme</button>
        </form>
    </section>
</main>
{% endblock %}