{% extends "base.html" %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/reservas.css' %}">
{% endblock estilos %}

{% block titulo %}
Reservas
{% endblock titulo %}


{% block contenido %}
{% for reserva in reservas %}
{% if reserva.estado == "vigente" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Recuerda que tienes una reserva pendiente!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<main class="container-fluid">
    <h1 class="texto">Mis reservas</h1>
    <section class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Numero de reserva</th>
                        <th scope="col">Habitacion</th>
                        <th scope="col">Check in:</th>
                        <th scope="col">Check out:</th>
                        <th scope="col">Estado:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <tr>
                        <td scope="row">{{reserva.cod_reserva}}</td>
                        <td>{{reserva.id_habitacion}}</td>
                        <td>{{reserva.fecha_inicio}}</td>
                        <td>{{reserva.fecha_termino}}</td>
                        {% if reserva.estado == "vigente" %}
                        <td class="cancelar">
                            <h6>{{reserva.estado}}</h6>
                            <a href="{% url 'cancelar' reserva.cod_reserva %}" class="cancelar-reserva">Cancelar Reserva</a>
                        </td>
                        {% else %}
                        <td>
                            {{reserva.estado}}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if not reservas %}
        <h1 class="texto">Parece que no tienes historial de reservas aun!</h1>
        {% endif %}
    </section>
</main>
{% endblock contenido %}

{% block scripts %}
<script src="{% static 'js/reservas.js' %}"></script>
{% endblock scripts %}