main {
    background: linear-gradient(#0c4e55, black);
}

section {
    padding: 2vh;
}

main>h1 {
    color: yellow;
    text-align: center;
}

.room-card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.modal-body {
    font-size: 0.9rem;
}

#reservar{
    border-radius: 2vh;
    padding: 1vh;
    background-color: #0c4e55;
    color: white;
    text-decoration: none;
}

.info-reserva{
    display: flex;
    justify-content: space-around;
}

.info-reserva > button{
    padding: 1vh;
    border-radius: 2vh;
    background-color: #0c4e55;
    border: none;
    outline: none;
    color: white;

}

/*Modal de reserva*/
.form-reservar{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.campo{
    display: flex;
    flex-direction: column;
}

.form-campo{
    padding: 1vh;
    border-radius: 2vh;
    outline: none;
    border: lightgray 1px solid;
    font-family: "Roboto", sans-serif;

}

.texto-form{
    font-family: "Roboto", sans-serif;
    color: black;  
}

.envio-reserva{
    padding: 1vh;
    border-radius: 2vh;
    outline: none;
    background-color: black;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.borrar-reserva{
    background-color: black;
    padding: 1vh;
    border-radius: 2vh;
    text-align: center;
    color: white;
    text-decoration: none;
}

#valor-name{
    display: none;
}

.tiene-reservas{
    display: none;
}

